@charset "UTF-8";
/*命名規則：BEM*/
/* リセットCSS */
/* ブロック要素のマージン、パディングをリセット */
body,
h1, h2,
p, ul, ol {
  margin: 0;
  padding: 0;
}

/* リストスタイルをリセット */
ul, ol {
  list-style: none;
}

/* インライン要素のマージン、パディングをリセット */
a, button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}

/* ボックスサイズをborder-boxに設定 */
* {
  box-sizing: border-box;
}

/* メディアクエリの指定*/
.recipe .recipe__section .recipe__article {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 833px) {
  .recipe .recipe__section .recipe__article {
    display: contents;
  }
}
.recipe .recipe__section .recipe__article .recipe__image-container {
  width: 49.45%;
  height: 700px;
}
@media (max-width: 833px) {
  .recipe .recipe__section .recipe__article .recipe__image-container {
    width: 100%;
    height: auto;
  }
}
.recipe .recipe__section .recipe__article .recipe__image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recipe .recipe__section .recipe__article .recipe__content {
  width: 49%;
  padding-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
}
@media (max-width: 833px) {
  .recipe .recipe__section .recipe__article .recipe__content {
    width: 100%;
  }
}
.recipe .recipe__section .recipe__article .recipe__content .recipe__header .recipe__title {
  font-size: 1.75rem;
}
.recipe .recipe__section .recipe__article .recipe__content .recipe__header .recipe__description {
  margin-top: 20px;
}
.recipe .recipe__section .recipe__article .recipe__content .recipe__sub-title {
  font-size: 1.23rem;
  position: relative;
}
.recipe .recipe__section .recipe__article .recipe__content .recipe__sub-title::after {
  content: "";
  position: absolute;
  top: 35px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #bebebe;
}
.recipe .recipe__section .recipe__article .recipe__content .recipe__ingredients {
  margin-top: 40px;
}
.recipe .recipe__section .recipe__article .recipe__content .recipe__ingredients .recipe__list {
  margin-top: 20px;
}
.recipe .recipe__section .recipe__article .recipe__content .recipe__ingredients .recipe__list .recipe__list-item {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #bebebe;
}
.recipe .recipe__section .recipe__article .recipe__content .recipe__instructions {
  margin-top: 40px;
}
.recipe .recipe__section .recipe__article .recipe__content .recipe__instructions .recipe__list {
  margin-top: 20px;
  padding-left: 20px;
  list-style: decimal;
}
.recipe .recipe__section .recipe__article .recipe__content .recipe__instructions .recipe__list .recipe__list-item {
  padding-top: 8px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #bebebe;
}
.recipe .recipe__section2 {
  margin-top: 55px;
}
.recipe .recipe__section2 .recipe__link-container {
  text-align: center;
}
.recipe .recipe__section2 .recipe__link-container .recipe__link-text {
  font-size: 0.85rem;
  background-color: inherit;
  padding: 18px 63px;
  border: 1px solid #111;
  cursor: pointer;
}

.footer {
  margin-top: 80px;
}
.footer .footer__section .footer__social-list {
  display: flex;
  justify-content: center;
}
.footer .footer__section .footer__social-list .footer__social-item {
  margin-left: 10px;
  position: relative;
}
.footer .footer__section .footer__social-list .footer__social-item:first-child {
  margin-left: 0;
}
.footer .footer__section .footer__social-list .footer__social-item .footer__social-link {
  font-size: 0.7rem;
  color: #303030;
  text-decoration: underline;
}
.footer .footer__section .footer__copyright {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 23px;
  font-size: 0.7rem;
}/*# sourceMappingURL=recipe.css.map */