/*命名規則：BEM*/

/* リセットCSS */

/* ブロック要素のマージン、パディングをリセット */
body,
h1, h2,h3,h4,a,
p, ul, ol {
  margin: 0;
  padding: 0;
  color: #3c3c3c;
}

/* リストスタイルをリセット */
ul,ol,nav {
  list-style: none;
}

/* インライン要素のマージン、パディングをリセット */
a,button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}

/* ボックスサイズをborder-boxに設定 */
* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 0.875rem;
  color: #2a2a2a;
}

//メディアクエリの指定
//ここでspの幅を定義
$sp: 896px; 
//ここでmax-widthを指定
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.site__header {
  .site__section--logo {
    width: 100%;
    height: 100vh;
    background-image: url(../img/1920x1269.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .site__image-container {
      width: 120px;
      height: 40px;
      position: absolute;
      top: 30px;
      right: 30px;
      img {
        width: 100%;
      }
    }
  }
}

.site__content {
  text-align: center;
  .site__title {
    font-size: 1.5rem;
  }
  .site__text {
    margin-top: 20px;
  }
}
.site__section--special {
  margin-top: 80px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5%;
  .site__article {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    @include sp {
      flex-direction: column;
    }
    .site__section {
      width: 49%;
      &:first-child {
        @include sp {
          margin-left: auto;
          margin-bottom: 30px;
        }
      }
      @include sp {
        width: 100%;
        margin: 0;
        margin-right: auto;
        margin-left: auto;
      }
      .site__link {
        position: relative;
        img {
          width: 100%;
        }
        .site__content {
          max-width: 290px;
          font-weight: bold;
          background-color: rgba(0, 0, 0, 0.5);
          padding: 15px 0;
          margin: 0 auto;
          position: absolute;
          top: 40%;
          left: 0;
          right: 0;
          .site__subtitle, .site__text {
            color: #fff;
          }
          .site__subtitle {
            font-size: 1.25rem;
          }
          .site__text {
            margin-top: 2px;
          }
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.site__section--fashion {
  margin-top: 80px;
  background-image: url(../img/1920x480.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 520px;
  .site__content {
    padding-top: 60px;
    @include sp {
      padding-top: 35px;
    }
  }
  .site__link-container {
    margin-top: 43px;
    text-align: center;
    .site__link {
      padding: 14px 36px;
      border: solid 1px #2a2a2a;
      font-size: 0.750rem;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.site__section--catalog-antique {
  margin-top: 80px;
  background-color: #e9e9e9;
  @include sp {
    margin-top: 50px;
  }
  .site__article {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .site__image-container {
      width: 48%;
      img {
        width: 100%;
      }
      @include sp {
        width: 100%;
      }
    }
    .site__content {
      width: 48%;
      text-align: center;
      @include sp {
        width: 100%;
      }
      h3 {
        font-size: 1.5rem;
        margin-bottom: 40px;
      }
      p {
        margin-bottom: 30px;
        text-align: left;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .site__article--catalog {
    padding-top: 60px;
    @include sp {
      flex-direction: column;
      padding-top: 30px;
      .site__subtitle {
        margin-top: 60px;
      }
    }
  }
  .site__article--antique {
    margin-top: 120px;
    padding-bottom: 60px;
    flex-direction: row-reverse;
    @include sp {
      flex-direction: column-reverse;
      margin-top: 60px;
      padding-bottom: 30px;
      .site__image-container {
        margin-top: 70px;
      }
    }
    .site__content {
      .site__link-container {
        margin-top: 70px;
        text-align: center;
        .site__link {
          padding: 14px 36px;
          border: solid 1px #2a2a2a;
          font-size: 0.75rem;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.site__footer {
  .site__section--nav {
    background-color: #333;
    .site__nav {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 103px 5%;
      display: flex;
      justify-content: space-between;
      @include sp {
        flex-direction: column;
        align-items: start;
        padding: 35px 5%;
        margin: 0;
      }
      .site__nav-item-logo {
        padding: 60px 0;
        @include sp {
          padding: 0;
        }
      }
      .site__nav-item {
        width: 33%;
        line-height: 2;
        @include sp {
          width: 100%;
          &:first-child {
            width: 120px;
            margin: 0 auto;
          }
        }
        .site__logo-container {
          width: 120px;
          height: 40px;
          img {
            width: 100%;
          }
          &:hover {
            opacity: 0.7;
          }
        }
        .site__nav-title {
          margin-bottom: 10px;
          font-size: 1.0rem;
          color: #fff;
          @include sp {
            margin-bottom: 15px;
            margin-top: 30px;
          }
        }
        .site__nav-list-item {
          font-size: 0.75rem;
          color: #fff;
          margin-left: 10px;
          position: relative;
          @include sp {
            line-height: 25px;
          }
          &::after {
            content: "";
            width: 5px;
            height: 1px;
            display: inline;
            background-color: #fff;
            position: absolute;
            top: 10px;
            left: -10px;
          }
        }
        .site__nav-text {
          font-size: 0.75rem;
          color: #fff;
          margin-bottom: 30px;
        }
      }
    }
  }

  .site__copyright-container {
    text-align: center;
    .site__copyright {
      padding: 30px;
      font-size: 0.75rem;
    }
  }
}