@charset "UTF-8";
/*命名規則：BEM*/
/* リセットCSS */
/* ブロック要素のマージン、パディングをリセット */
body,
h1, h2, h3, h4, a,
p, ul, ol {
  margin: 0;
  padding: 0;
  color: #3c3c3c;
}

/* リストスタイルをリセット */
ul, ol, nav {
  list-style: none;
}

/* インライン要素のマージン、パディングをリセット */
a, button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}

/* ボックスサイズをborder-boxに設定 */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.site__header .site__section--logo {
  width: 100%;
  height: 100vh;
  background-image: url(../img/1920x1269.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.site__header .site__section--logo .site__image-container {
  width: 120px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 3%;
}
.site__header .site__section--logo .site__image-container img {
  width: 100%;
}

.site__content {
  text-align: center;
}
.site__content .site__title {
  font-size: 1.4rem;
}
.site__content .site__text {
  margin-top: 15px;
  font-size: 0.9rem;
}

.site__section--special {
  margin-top: 70px;
}
.site__section--special .site__article {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
@media (max-width: 840px) {
  .site__section--special .site__article {
    flex-direction: column;
  }
}
.site__section--special .site__article .site__section {
  width: 41%;
  margin-left: 23px;
}
.site__section--special .site__article .site__section:first-child {
  margin-left: 0;
}
@media (max-width: 840px) {
  .site__section--special .site__article .site__section:first-child {
    margin-left: auto;
    margin-bottom: 30px;
  }
}
@media (max-width: 840px) {
  .site__section--special .site__article .site__section {
    width: 90%;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
.site__section--special .site__article .site__section .site__link {
  position: relative;
}
.site__section--special .site__article .site__section .site__link img {
  width: 100%;
}
.site__section--special .site__article .site__section .site__link .site__content {
  width: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: rgba(17, 17, 17, 0.6509803922);
}
.site__section--special .site__article .site__section .site__link .site__content .site__subtitle, .site__section--special .site__article .site__section .site__link .site__content .site__text {
  color: #fff;
}
.site__section--special .site__article .site__section .site__link .site__content .site__subtitle {
  font-size: 1.4rem;
}
.site__section--special .site__article .site__section .site__link .site__content .site__text {
  margin-top: 3px;
}
.site__section--special .site__article .site__section .site__link:hover {
  opacity: 0.7;
}

.site__section--fashion {
  margin-top: 50px;
  background-image: url(../img/1920x480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 480px;
}
.site__section--fashion .site__content {
  padding-top: 50px;
}
.site__section--fashion .site__link-container {
  margin-top: 40px;
  text-align: center;
}
.site__section--fashion .site__link-container .site__link {
  padding: 13px 32px;
  border: 1px solid #3c3c3c;
  font-size: 0.7rem;
}
.site__section--fashion .site__link-container .site__link:hover {
  opacity: 0.7;
}

.site__section--catalog-antique {
  margin-top: 80px;
  background-color: #e9e9e9;
}
.site__section--catalog-antique .site__article {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.site__section--catalog-antique .site__article .site__image-container {
  width: 47%;
}
.site__section--catalog-antique .site__article .site__image-container img {
  width: 100%;
}
@media (max-width: 840px) {
  .site__section--catalog-antique .site__article .site__image-container {
    width: 90%;
  }
}
.site__section--catalog-antique .site__article .site__content {
  width: 48%;
  text-align: start;
}
@media (max-width: 840px) {
  .site__section--catalog-antique .site__article .site__content {
    width: 90%;
  }
}
.site__section--catalog-antique .site__article .site__content h3 {
  text-align: center;
}
.site__section--catalog-antique .site__article .site__content p {
  margin-top: 35px;
}
.site__section--catalog-antique .site__article--catalog {
  padding-top: 60px;
}
@media (max-width: 840px) {
  .site__section--catalog-antique .site__article--catalog {
    flex-direction: column;
  }
  .site__section--catalog-antique .site__article--catalog .site__subtitle {
    margin-top: 30px;
  }
}
.site__section--catalog-antique .site__article--antique {
  margin-top: 100px;
  padding-bottom: 60px;
  flex-direction: row-reverse;
}
@media (max-width: 840px) {
  .site__section--catalog-antique .site__article--antique {
    flex-direction: column-reverse;
  }
  .site__section--catalog-antique .site__article--antique .site__image-container {
    margin-top: 70px;
  }
}
.site__section--catalog-antique .site__article--antique .site__content .site__link-container {
  margin-top: 70px;
  text-align: center;
}
.site__section--catalog-antique .site__article--antique .site__content .site__link-container .site__link {
  padding: 13px 32px;
  border: 1px solid #3c3c3c;
  font-size: 0.7rem;
}
.site__section--catalog-antique .site__article--antique .site__content .site__link-container .site__link:hover {
  opacity: 0.7;
}

.site__footer .site__section--nav {
  background-color: #3c3c3c;
}
.site__footer .site__section--nav .site__nav {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 120px 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 840px) {
  .site__footer .site__section--nav .site__nav {
    flex-direction: column;
    align-items: start;
    padding: 40px 35px 60px 35px;
    margin: 0;
  }
}
.site__footer .site__section--nav .site__nav .site__nav-item {
  width: 30%;
}
@media (max-width: 840px) {
  .site__footer .site__section--nav .site__nav .site__nav-item {
    width: 100%;
  }
  .site__footer .site__section--nav .site__nav .site__nav-item:first-child {
    width: 120px;
    margin: 0 auto;
  }
}
.site__footer .site__section--nav .site__nav .site__nav-item .site__logo-container {
  width: 120px;
  height: 40px;
}
.site__footer .site__section--nav .site__nav .site__nav-item .site__logo-container img {
  width: 100%;
}
.site__footer .site__section--nav .site__nav .site__nav-item .site__logo-container:hover {
  opacity: 0.7;
}
.site__footer .site__section--nav .site__nav .site__nav-item .site__nav-title {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #fff;
}
@media (max-width: 840px) {
  .site__footer .site__section--nav .site__nav .site__nav-item .site__nav-title {
    margin-bottom: 15px;
    margin-top: 40px;
  }
}
.site__footer .site__section--nav .site__nav .site__nav-item .site__nav-list-item {
  font-size: 0.75rem;
  color: #fff;
  line-height: 22px;
  position: relative;
}
@media (max-width: 840px) {
  .site__footer .site__section--nav .site__nav .site__nav-item .site__nav-list-item {
    line-height: 25px;
  }
}
.site__footer .site__section--nav .site__nav .site__nav-item .site__nav-list-item::after {
  content: "";
  width: 5px;
  height: 1px;
  display: inline;
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: -10px;
}
.site__footer .site__section--nav .site__nav .site__nav-item .site__nav-text {
  font-size: 0.75rem;
  color: #fff;
  line-height: 22px;
}
.site__footer .site__copyright-container {
  text-align: center;
}
.site__footer .site__copyright-container .site__copyright {
  padding: 30px;
  font-size: 0.8rem;
}/*# sourceMappingURL=magazine.css.map */